<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Sample_IndieDirect</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="64a765">  <td>18/04/24 10:50:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Testcases_LoginPage.Before()[pri:0, instance:com.metcash.IndieDirect.TestCases.Testcases_LoginPage@573f2bb1]">&gt;&gt;Before</td> 
<td>&nbsp;</td>  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/04/24 10:50:49</td>   <td>3962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcases_LoginPage.TC02()[pri:0, instance:com.metcash.IndieDirect.TestCases.Testcases_LoginPage@573f2bb1]">TC02</td> 
  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/04/24 10:50:49</td>   <td>4553</td> <td>&nbsp;</td><td title="&lt;&lt;Testcases_LoginPage.aftertest()[pri:0, instance:com.metcash.IndieDirect.TestCases.Testcases_LoginPage@573f2bb1]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1529306539</td>   <td></td> </tr>
</table>
