<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b0f6">  <td>18/04/23 13:15:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Testcases_LoginPage.Before()[pri:0, instance:com.metcash.IndieDirect.TestCases.Testcases_LoginPage@3c756e4d]">&gt;&gt;Before</td> 
<td>&nbsp;</td>  <td>main@226710952</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/23 13:15:21</td>   <td>6188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Testcases_LoginPage.Before()[pri:0, instance:com.metcash.IndieDirect.TestCases.Testcases_LoginPage@3c756e4d]">&gt;&gt;Before</td> 
<td>&nbsp;</td>  <td>main@226710952</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/23 13:15:19</td>   <td>3965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcases_LoginPage.TC01()[pri:0, instance:com.metcash.IndieDirect.TestCases.Testcases_LoginPage@3c756e4d]">TC01</td> 
  <td>main@226710952</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/23 13:15:24</td>   <td>9574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcases_LoginPage.TC02()[pri:0, instance:com.metcash.IndieDirect.TestCases.Testcases_LoginPage@3c756e4d]">TC02</td> 
  <td>main@226710952</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>18/04/23 13:15:25</td>   <td>10069</td> <td>&nbsp;</td><td title="&lt;&lt;Testcases_LoginPage.aftertest()[pri:0, instance:com.metcash.IndieDirect.TestCases.Testcases_LoginPage@3c756e4d]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@226710952</td>   <td></td> </tr>
</table>
